<form action="/create" method="POST">

<p>Topic:<br>
<input type="text" name="topic"></p>
<p>Choice 1:<br>
<input type="text" name="choice"></p>
<p>Choice 2:<br>
<input type="text" name="choice"></p>
<p>Choice 3:<br>
<input type="text" name="choice"></p>
<p>Choice 4:<br>
<input type="text" name="choice"></p>
<p>Choice 5:<br>
<input type="text" name="choice"></p>
<p>Choice 6:<br>
<input type="text" name="choice"></p>
<p>Choice 7:<br>
<input type="text" name="choice"></p>
<p>Choice 8:<br>
<input type="text" name="choice"></p>
<p>Choice 9:<br>
<input type="text" name="choice"></p>
<p>Choice 10:<br>
<input type="text" name="choice"></p>
<p>Choice 11:<br>
<input type="text" name="choice"></p>
<p>Choice 12:<br>
<input type="text" name="choice"></p>
<input type="submit" value="Create poll">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

